@{
    ViewData["Title"] = "Video Game List";
}

<h2>My Video Game List</h2>

<p>I created this project by using the .net 7 framework as it has more features than older generations. Trying to make it cleaner I tried creating 2 seprate controllers. 1 for redirecting to different pages and another for actual logic.
    By doing this, it makes the controllers more readable and seperates and specializes the functions. By adding buttons to each entries it makes it easier to call out the object as it is tied by id as soon as its displayed. 
    I also created a View Model to filter and organise the genres if the user is looking for something in particular.
</p>

<h3>How to Use</h3>
<p>You can use the site by starting at the index. To access the index click on the "Tracker App" at the top of the site. You can check out entries that are already there and rate them. You can edit the entiries as well as delete them. If there is a certain entry that is not listed,
    You can use the Create link within the page or the shortcut at the top and there is a shortcut for delete as well. If you wish to check details or edit them you can check with the links next to the entries. If there is a entry you are looking for you can filter by title or search by name via the 
    search bar in the app. To access this page again click on the home link above.
</p>